  <div class="jumbotron col-lg-12">
    <div id="welcome">
      <h1 class="col-lg-12">Welcome to <span class="logo"><%= COMPANY_NAME %></span></h1>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1 blurb">
        <p>A place to something-or-other and also other things appear in this blurb.</p>
      </div>
    </div>
    <div class="row" id="home-buttons">
      <div class="col-lg-8 col-lg-offset-1">
        <% if signed_in? %>
            <%= link_to "Go to your account", events_path, class: "btn btn-primary btn-lg" %>
        <% else %>
            <%= link_to "Login with Twitter", twitter_login_path, class: "btn btn-primary btn-lg" %>
            <%= link_to "Login with Facebook", facebook_login_path, class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div>
    <h1 class="homepage-events-header col-lg-8 col-lg-offset-2">
      Check out some upcoming events
    </h1>
    <% @open_events.each do |event| %>
      <% if event.nearly_full? %>
        <div class="nearly-full-event homepage-event col-lg-4 well">
          <h3><%= link_to event.title, new_event_registration_path(event) %></h3>
          <ul>
            <li><%= event.occurring_on %></li>
            <li><%= event.location %></li>
            <li>
              <h4 class="remaining-spaces-warning">
                Only <%= pluralize(event.spaces_remaining, 'Space') %> left!
              </h4>
            </li>
          </ul>
          <%= link_to "Register Soon!", new_event_registration_path(event), 
            class: "btn btn-default btn-lg btn-block" %>
        </div>
      <% else %>
        <div class="homepage-event col-lg-4 well">
          <h3><%= link_to event.title, new_event_registration_path(event) %></h3>
          <ul>
            <li><%= event.occurring_on %></li>
            <li><%= event.location %></li>
            <li>
              <h4 class="remaining-spaces">
                <%= pluralize(event.spaces_remaining, 'Space') %> still available
              </h4>
            </li>
          </ul>
          <%= link_to "Register!", new_event_registration_path(event), 
            class: "btn btn-default btn-lg btn-block" %>
        </div>
      <% end %>
    <% end %>
  </div>

