<div id="register-form" class="col-lg-10 col-lg-offset-1">
  <div class="form-header col-lg-10 col-lg-offset-1">
    <h1>Register for <span class="form-event-title"><%= @event.title %></span></h1>
  </div>

  <div class="form-body col-lg-10 col-lg-offset-1">
    <%= form_for [@event, @registration]  do |f| %>
      
      <div class="register-form-group row">
        <%= f.label :name, class: "register-label col-lg-2 col-lg-offset-1" %>
        <%= f.text_field :name, class: "regsiter-field col-lg-6 col-lg-offset-1" %>
      </div>

      <div class="register-form-group row">
        <%= f.label :email, class: "register-label col-lg-2 col-lg-offset-1" %>
        <%= f.text_field :email, class: "regsiter-field col-lg-6 col-lg-offset-1" %>
      </div>

      <div class="register-form-group row">
        <%= f.label :phone_number, class: "register-label col-lg-2 col-lg-offset-1" %>
        <%= f.text_field :phone_number, class: "regsiter-field col-lg-6 col-lg-offset-1" %>
      </div>

      <%= hidden_field_tag :token, @token %>

      <hr>

      <% @event.custom_fields.each do |field| %>
        <div class="register-form-group custom-field row">
          <%= custom_field_tag(field, @registration.custom_field_value(field.name)) %>
        </div>
      <% end %>

      
      <% if @event.custom_fields.empty? %>
        <%= f.submit "Sign me up!", 
          class: "rsvp btn btn-primary col-lg-6 col-lg-offset-4" %>
      <% else %>
        <%= f.submit "Sign me up!", 
          class: "custom-rsvp btn btn-primary col-lg-6 col-lg-offset-1" %>
      <% end %>

    <% end %>
  </div>
</div>
