<% if @event.errors.any? %>
  <div class="error">
    <% @event.errors.full_messages.each do |error| %>
      <%= content_tag :div, error %>
    <% end %>
  </div>
<% end %>

<%= form_for(@event, html: { role: "form" }) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :occurring_on %>
    <%= f.date_field :occurring_on, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :slots %>
    <%= f.text_field :slots, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :published %>
    <%= f.check_box :published, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :public %>
    <%= label_tag nil, class: "form-control" do %>
      <%= f.radio_button :public, true %> Public
    <% end %>
  </div>
  <%= label_tag do %>
    <%= f.radio_button :public, false %> Private
  <% end %>

  <% @event.custom_fields.each do |custom_field| %>
    <%= render partial: "custom_field", locals: { custom_field: custom_field } %>
  <% end %>

  <%= submit_tag :add_custom_field %>

  <%= f.submit %>

<% end %>

<% unless @event.canceled? %>
  <%= link_to "Cancel event", event_path(@event), method: :delete %>
<% end %>
