<h1>New Event</h1>

<% if @event.errors.any? %>
  <div class="error">
    <% @event.errors.full_messages.each do |error| %>
      <%= content_tag :div, error %>
    <% end %>
  </div>
<% end %>

<%= form_for @event do |f| %>
  
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :occurring_on %>
  <%= f.date_field :occurring_on %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :slots %>
  <%= f.text_field :slots %>

  <%= f.label :published %>
  <%= f.check_box :published %>

  <%= f.label :public %>
  <%= label_tag do %>
    <%= f.radio_button :public, true %> Public
  <% end %>
  <%= label_tag do %>
    <%= f.radio_button :public, false %> Private
  <% end %>

  <% @event.custom_fields.each do |custom_field| %>
    <%= render partial: "custom_field", locals: { custom_field: custom_field } %>
  <% end %>

  <%= submit_tag :add_custom_field %>

  <%= f.submit %>

<% end %>