<h1><%= @event.title %></h1>

<% if @event.canceled? %>
  <p class="alert alert-danger">This event has been canceled.</p>
<% end %>

<div class="published"><%= @event.published %></div>

<div class="remaining-slot-count">
  <%= pluralize @event.registrations.remaining.count, 'space' %> available
</div>

<div class="registration-count">
  <%= pluralize @event.registrations.finalized.count, 'registration' %>
</div>
<div class="occurring_on"><%= @event.occurring_on %></div>
<div class="location"><%= @event.location %></div>
<div class="description"><%= @event.description %></div>

<div class="image"><%= tag :img, src: @event.image_url %></div>
<div class="slots"><%= @event.slots %></div>
<div class="public"><%= @event.public %></div>

<% if @event.custom_fields.any? %>
  <div class="custom_fields">
    <table>
      <% @event.custom_fields.each do |custom_field| %>
        <tr>
          <td><%= custom_field.label %></td>
          <td><%= custom_field.explanation %></td>
        </tr>

      <% end %>
    </table>
  </div>
<% end %>

<div class="created_at"><%= @event.created_at %></div>
<div class="updated_at"><%= @event.updated_at %></div>

<div class="controls">
  <%= link_to "Edit event", edit_event_path(@event) %>
  <% unless @event.canceled? %>
    <%= link_to "Cancel event", event_path(@event), method: :delete %>
  <% end %>
</div>

<div class="invitee-section">
  <%= render 'events/invitees/list' %>
  <%= render 'events/invitees/form' %>
</div>  