<div class="page-header">
  <%= render 'events/tags' %>
  <h1>
    <%= @event.title %>
  </h1>
</div>


<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-xs-12 col-sm-3 pull-right">
        <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-sm btn-primary btn-block" %>
      </div>
      <div class="col-xs-12">
        <%= render 'events/event_details' %>
      </div>
    </div>


    <%= render 'events/custom_fields_explanation' %>
    <%= render 'events/registration_url' %>
    <%= render 'events/registrations' %>
  </div>

  <div class="col-lg-4">
    <div class="image"><%= tag :img, src: @event.image_url, width: "100%" %></div>
    <%= render 'events/counter' %>
    <%= render 'events/invitees/form' %>
    <%= render 'events/invitees/list' %>
  </div>
</div>


